{template common/header_ajax}
<h2 class="flb" style="cursor: move;border: 1px solid #666666;border-bottom: 0;"><em>{lang gfarm:c107}</em>
	<span ><a href="javascript:;" class="flbc" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">{lang close}</a></span>	
</h2>
<div style="border: 1px solid #666666;padding:5px 10px">
	<form name="psForm" action="plugin.php?id=gfarm:cp&mod=level&act=update&formhash={FORMHASH}" method="post" target="myframe">
		<input type="hidden" name='lid' value="{$lid}"/>
		<table class="table001" style="margin-top: 10px" cellpadding="8px">
			<tr><td class="table002" align="right">{lang gfarm:c102}</td>
 				<td>{if empty($lid)}{eval echo $maxlevel+1}{else}{$level['level']}{/if}</td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c103}</td>
 				<td><input type="text" name="name" value="{$level['name']}"/></td>
			</tr> 			
			<tr><td class="table002" align="right">{lang gfarm:c104}</td>
 				<td><input type="text" name="experience" {if empty($maxlevel)||$level['level']==1}value="0"{else}value="{$level['experience']}"{/if}/></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c105}</td>
 				<td><input type="text" name="strength" value="{$level['strength']}"/></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c106}</td>
 				<td><input type="text" name="land_number" value="{$level['land_number']}"/></td>
			</tr> 
			<tr><td class="table002"></td>
 				<td><input type="submit" class="g47jh_content_submit" style='width: 50px;margin-top: -4px' value="{lang gfarm:c026}"/></td>
			</tr> 
		</table>
	</form>
</div>
<script type="text/javascript">
	function clo_window()
	{
		parent.window.hideWindow('gfarm');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
{template common/footer_ajax}