<tr><td class="table002" align="right">{lang gfarm:c036}(%)</td>
 				<td><input type="text" name="add_gain_number" value="{$decorate['add_gain_number']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c037}(%)</td>
 				<td><input type="text" name="add_gain_time" value="{$decorate['add_gain_time']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
<tr><td class="table002" align="right">{lang gfarm:c038}(%)</td>
 				<td><input type="text" name="add_steal_odds" value="{$decorate['add_steal_odds']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c039}(%)</td>
 				<td><input type="text" name="add_steal_number" value="{$decorate['add_steal_number']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			
			<tr><td class="table002" align="right">{lang gfarm:c040}</td>
 				<td><input type="text" name="valid_time" value="{$decorate['valid_time']}"/><font color="red">{lang gfarm:c042}</font></td>
			</tr> 	