<tr><td class="table002" align="right">{lang gfarm:c043}(%)</td>
 				<td><input type="text" name="add_steal_odds" value="{$equipment['add_steal_odds']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c044}(%)</td>
 				<td><input type="text" name="add_steal_number" value="{$equipment['add_steal_number']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c040}</td>
 				<td><input type="text" name="valid_time" value="{$equipment['valid_time']}"/><font color="red">{lang gfarm:c042}</font></td>
			</tr> 