
			<tr><td class="table002" align="right">{lang gfarm:c036}(%)</td>
 				<td><input type="text" name="add_gain_number" value="{$items['add_gain_number']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c037}(%)</td>
 				<td><input type="text" name="add_gain_time" value="{$items['add_gain_time']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c068}</td>
 				<td><input type="text" name="add_benevolence" value="{$items['add_benevolence']}"/><font color="red">{lang gfarm:c041}</font></td>
			</tr> 
			<tr><td class="table002" align="right"><font color="red">*</font>{lang gfarm:c069}</td>
 				<td>
 				<input type='radio' name="use_target" value="0" id='use_target1' <!--{if $items['use_target']==0}-->checked="checked"<!--{/if}-->/><label for="use_target1">{lang gfarm:c056}</label>
 				<input type='radio' name="use_target" value="1" id='use_target2' <!--{if $items['use_target']==1}-->checked="checked"<!--{/if}-->/><label for="use_target2">{lang gfarm:c079}</label>
 				<input type='radio' name="use_target" value="2" id='use_target3' <!--{if $items['use_target']==2}-->checked="checked"<!--{/if}-->/><label for="use_target3">{lang gfarm:c080}</label>
 				</td>
			</tr> 	