{template common/header}
<script type="text/javascript" reload=1>
(function(){
	jq('.footdepotright').html("<span><a onclick=\"hideWindow('gfarm1');ajaxget('plugin.php?id=gfarm:front&mod=depot&act=allsuo&do=$do&formhash={FORMHASH}&sflag=$flag','')\">{lang gfarm:f019}{if empty($flag)}{lang gfarm:f020}{else}{lang gfarm:c178}{/if}</a></span>"
	+"<span><a {if empty($flag)}disabled style='color:gray'{else}onclick=\"hideWindow('gfarm1');ajaxget('plugin.php?id=gfarm:front&mod=depot&act=allsale&do=$do&formhash={FORMHASH}','outdepots')\"{/if}>{lang gfarm:f021}</a></span>");
	{if !empty($flag)}
	jq('#ul3 li').each(function(){
		jq(this).find('.toplock').css('background',"url('source/plugin/gfarm/img/ui/jiesuo.png')");
	});
	{else}
	jq('#ul3 li').each(function(){
		jq(this).find('.toplock').css('background',"url('source/plugin/gfarm/img/ui/lock.png')");
	});
	{/if}
	jq('#jin').html({$jin});
	jq('#yuan').html({$yuan});
})();
</script>
{template common/footer}