{template common/header}
<script type="text/javascript" reload=1>
(function(){
	{if $mess}
	window.showDialog('{$mess}', 'error', '', function() {}, 0);
	{else}
	jq('#_'+{$currentland['land_id']}).html("");
	jq('#userpower').html($power);	
	jq('#'+{$currentland['land_id']}).html("<img class='landimg' src='source/plugin/gfarm/img/ui/useland.png'/>");
	jq('#title_'+{$currentland['land_id']}).html('');
	jq('#userexp').html({$userarr['experience']}+'/'+{$nextlevel['experience']});
	{if !empty($levelflag)}
	{if $countland<$mylevel1['land_number']}
	jq('.jiesuoimg').each(function(){
	jq(this).show();
	});
	{/if}
	jq('#userlevel').html({$mylevel1['level']});	
	jq('#userleveltip').show();
	setTimeout( function(){jq('#userleveltip').fadeOut();}, ( 3 * 1000 ) ); 
	{/if}
	{/if}		
})();
</script>
{template common/footer}