{template gfarm:cp/nav}
<script type="text/javascript">
	function showmsg(msg) {
		window.showDialog(msg, 'right', '', function() {
			window.location.href = 'plugin.php?id=gfarm:cp&mod=signin'
		}, 0);
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
<iframe id="myframe" name="myframe" style="display:none"></iframe>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		{if $csignin<6}
		<div class="g47jh_content_title">	
			<a class="g47jh_content_button" href="javascript:" onclick="showWindow('gfarm','plugin.php?id=gfarm:cp&mod=signin&act=update')">{lang gfarm:c006}</a>
		</div>	
		{/if}
		<table class="dt valt" cellspacing="0" cellpadding="0" style="text-align: center;margin-top: 1px" >
	<tr>
	 	<th class="xw1" style="text-align: center;">{lang gfarm:c007}</th>  
	 	<th class="xw1" style="text-align: center;">{lang gfarm:c116}</th>
    	<th class="xw1" style="text-align: center;" width="60%">{lang gfarm:c125}</th>  	
    	<th class="xw1" style="text-align: center;">{lang gfarm:c013}</th>
	</tr>
	<!--{loop $signInfos $key $val}-->
	<tr <!--{if $key%2==1}-->class="alt"<!--{/if}-->>
	    <td>{$val['id']}</td> 
    	<td>{$val['sign_day']}</td>
    	<td>{$str1s[$key]}</td> 
    	<td><a href='plugin.php?id=gfarm:cp&mod=signin&act=update&sid={$val[id]}' onclick="showWindow('gfarm',this.href)">{lang gfarm:c014}</a>
    	</td>
	</tr>
	<!--{/loop}-->
</table>
	</div>
	<!--分页-->
	<div class="adjust_page_div" style="margin-top: -20px;">
		<div class="adjust_page_span">{lang gfarm:c015}<i style="color: #4689cf">{$num}</i>{lang gfarm:c016}</div>
		<div class="adjust_page_right">
			<div class="view_page_div" style="width: {$page_width_arr['div_width']}px">
				<ul>
					<li class="view_page_next"><a href="plugin.php?id=gfarm:cp&mod={$mod}&page=1{$text}">{lang gfarm:c232}</a></li>
					<li class="view_page_next"><a href="javascript:" onclick="{if $currpage==1}showerror('{lang gfarm:cp028}');{else}document.location.href='plugin.php?id=gfarm:cp&mod={$mod}&page={eval echo $currpage-1}{$text}';{/if}">{lang gfarm:c266}</a></li>
					<!--{loop $page_number_arr $key $val_page}-->
						<li class="view_page_number"  style="width:{$page_width_arr['li_width'][$key]}px; {if $currpage==$val_page} background: #78b3ef;border-color: #78b3ef; {/if}" ><a href="plugin.php?id=gfarm:cp&mod={$mod}&page={$val_page}{$text}"  style="{if $currpage==$val_page} color: #ffffff ;{/if}" >{$val_page}</a></li>
					<!--{/loop}-->
					<li class="view_page_next"><a href="javascript:" onclick="{if $currpage==$maxpage}showerror('{lang gfarm:cp030}');{else}document.location.href='plugin.php?id=gfarm:cp&mod={$mod}&page={eval echo $currpage+1}{$text}';{/if}">{lang gfarm:c267}</a></li>
					<li class="view_page_next"><a href="plugin.php?id=gfarm:cp&mod={$mod}&page={$maxpage}{$text}" >{lang gfarm:f046}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{template gfarm:cp/footer}