{template common/header_ajax}
<h2 class="flb" style="cursor: move;border: 1px solid #666666;border-bottom: 0;"><em>{lang gfarm:c322}{if $logn==1}{lang gfarm:f032}{elseif $logn==2}{lang gfarm:f034}{elseif $logn==3}{lang gfarm:c316}{elseif $logn==4}{lang gfarm:c184}{elseif $logn==5}{lang gfarm:c185}{/if}{lang gfarm:c230}</em>
	<span ><a href="javascript:;" class="flbc" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">{lang close}</a></span>	
</h2>
<div style="border: 1px solid #666666;padding:5px 10px">
	<form name="psForm" action="plugin.php?id=gfarm:cp&mod=clear&act=clear&formhash={FORMHASH}" method="post" target="myframe">
		<input type="hidden" name='logn' value="{$logn}"/>
		<table class="table001" style="margin-top: 10px" cellpadding="8px">
			<tr><td class="table002" align="right">{lang gfarm:c314}</td>
 				<td><input type="text" name="number" value="30"/></td>
			</tr> 
			<tr><td class="table002"></td>
 				<td><input type="submit" class="g47jh_content_submit" style='width: 100px;margin-top: -4px' value="{lang gfarm:c315}"/></td>
			</tr> 
		</table>
	</form>
</div>
<script type="text/javascript">
	function clo_window()
	{
		parent.window.hideWindow('gfarm');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
{template common/footer_ajax}