{template common/header_ajax}
<script type="text/javascript" reload=1>
(function(){
	jq('#bountymenu li').each(function(){
		jq(this).click(function(){
			jq(this).css('background','#4daca2');
			jq(this).siblings().css('background','#aaa');
		});		
	});
})();
</script>
<style>
#fwin_gfarm .m_c{background:url(source/plugin/gfarm/img/ui/shopbg.png) no-repeat;}
#ulmenu li{background:#4daca2;font-size: 14px;background-position: center;width: 100px}
</style>
<iframe id="myframe" name="myframe" style="display:none"></iframe>
<div class='shopclass'>
<div class='shoptitle listti'>赏金任务</div>
<div class='shopclose' onclick="hideWindow('gfarm1');hideWindow('gfarm');"></div>
<ul class='listti' id='bountymenu'>
	<li style="background:#4daca2"><a href='javascript:;' onclick="ajaxget('plugin.php?id=gfarm:front&mod=task&act=ajax','outs')">任务大厅</a></li>
	<li><a href='javascript:;' onclick="ajaxget('plugin.php?id=gfarm:front&mod=task&act=ajax1','outs')">我接收的任务</a></li>
	<li><a href='javascript:;' onclick="ajaxget('plugin.php?id=gfarm:front&mod=task&act=ajax&do=1','outs')">我发布的任务</a></li>
</ul>
<a id='posttask' href="plugin.php?id=gfarm:front&mod=task&act=posttask" onclick="showWindow('gfarm1',this.href)">发布任务</a>
<div id='outs'>
<div id='ins'>
	<ul class='line' id='boul'>
	<!--{loop $taskInfos $key=>$val}-->
	<li>
		<div style="width: 290px;background: #eee;height:120px;position: relative;">
			<span class='shopname'>{$val['task_name']}</span>
			<div style="padding-top: 7px">
			<div style="text-align: left;">简介：给{$targets[$key]['username']}使用{$val['target_num']}个{$items[$key]['name']}<br/>
			酬劳：{$rewardstrs[$key]}<br/>
			时间：{if !empty($val['task_time'])}{$val['task_time']}小时{else}无限制{/if}<br/>
			发布者：{$users[$key]['username']}
			<span id='task_{$val[id]}'>
			{if $val['task_uid']!=$_G['uid']}
			{if empty($val['task_in'])}
			<a href='javascript:;' onclick="ajaxget('plugin.php?id=gfarm:front&mod=task&act=gettask&taskid={$val[id]}&formhash={FORMHASH}','task_{$val[id]}')">领取任务</a>
			{else}
			被{$taskuser[$key]['username']}领取
			{/if}			
			{else}
			{if !empty($val['task_in'])}
			被{$taskuser[$key]['username']}领取
			{/if}
			{/if}
			</span>
			</div>			
			</div>
		</div>
	</li>
	<!--{/loop}-->
	</ul>
	</div>
	<div id=scrollbartop></div>
	<div id='scrollBars'>
	<div id='handles'></div>
	</div>
	<div id='scrollbarbottom'></div>	
</div>
</div>
<script type="text/javascript">
	function clo_window()
	{
		parent.window.hideWindow('gfarm');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
<script reload=1>
var ximen = {
	$:function(o){ return document.getElementById(o); },
	getStyle:function(o) { return o.currentStyle||document.defaultView.getComputedStyle(o,null); },
	getOffset:function(o) {
		var t = o.offsetTop,h = o.offsetHeight;
		while(o = o.offsetParent) { t += o.offsetTop; }
		return { top:t, height:h };
	},
	bind:function(o,eType,fn) {
		if(o.addEventListener) { o.addEventListener(eType,fn,false); }
		else if(o.attachEvent) { o.attachEvent("on" + eType,fn); }
		else { o["on" + eType] = fn; }
	},
	unbind:function(o,eType,fn) {
		if(o.removeEventListener) { o.removeEventListener(eType,fn,false); }
		else if(o.detachEvent) { o.detachEvent("on" + eType,fn); }
		else { o["on" + eType] = fn; }
	},
	stopPropagate:function(e) {
		if(e && e.stopPropagation) { e.stopPropagation(); } 
		else { window.event.cancelBubble = true; }
		return false;
	},
	stopDefault:function(e) {
		e = e || window.event;
		e.stopPropagation && (e.preventDefault(),e.stopPropagation()) || (e.cancelBubble = true,e.returnValue = false);
	}
};
(function(){
	var myScrollDown,myScrollUp,scrollBarMouseDown,scrollBarMouseUp,relY,
		out = ximen.$("outs"),
		content = ximen.$("ins"),
		scrollBar = ximen.$("scrollBars"),
		scrollBarHandle = ximen.$("handles"),
		contentScrollHeight = content.scrollHeight,//将content.scrollHeight赋一次值,解决IE6下scrollHeight需调用两次的bug
		scrollBarHandleHeight = parseInt(content.offsetHeight/content.scrollHeight * scrollBar.offsetHeight),
		setScrollBarHandle = function() {//当内容超多时设置拖拽条子的最小高度
		if(scrollBarHandleHeight==scrollBar.offsetHeight){scrollBar.style.display='none';jq('#scrollbartop').hide();jq('#scrollbarbottom').hide();}
		else { scrollBarHandleHeight = 15; scrollBarHandle.style.height = "15px"; jq('#scrollbartop').show();jq('#scrollbarbottom').show();}
		},
		clearAllInterval = function() { clearInterval(myScrollDown); clearInterval(myScrollUp); clearInterval(scrollBarMouseDown); },
		forMousemove = function(e) {
			var e = e || window.event;
			content.scrollTop = (e.clientY - relY)/(scrollBar.offsetHeight - scrollBarHandleHeight)*(content.scrollHeight - content.offsetHeight);
		},
		forMouseDown = function(event){
			var et = event.target || event.srcElement;//target火狐srcElementIE		
			relY = event.clientY - et.offsetTop;
			ximen.bind(document,"mousemove",forMousemove);
		},
		scrollDir = function(e) {
			var e = e || window.event,eDir;					//设置滚轮事件,e.wheelDelta与e.detail分别兼容IE、W3C，根据返回值的正负来判断滚动方向
			if(e.wheelDelta) { eDir = e.wheelDelta/120; }
			else if(e.detail) { eDir = -e.detail/3; }
			if(eDir > 0) { content.scrollTop -= 80; }	//步长设80像素a比较接近window滚动条的滚动速度
			else { content.scrollTop += 80; }
			ximen.stopDefault(e);
		};
	setScrollBarHandle();
	ximen.bind(content,"scroll",function(){
		scrollBarHandle.style.top = content.scrollTop/(content.scrollHeight - content.offsetHeight) * (scrollBar.offsetHeight - scrollBarHandleHeight)+ "px";
	});
	ximen.bind(scrollBarHandle,"mousedown",forMouseDown);
	ximen.bind(document,"mouseup",function(){
		ximen.unbind(document,"mousemove",forMousemove);
		ximen.unbind(scrollBarHandle,"mousemove",forMousemove);
	});
	ximen.bind(out,"selectstart",function(){ return false; });
	ximen.bind(out,"select",function(){ document.selection.empty(); });
	ximen.bind(out,"mousewheel",scrollDir);
	ximen.bind(out,"DOMMouseScroll",scrollDir);
	jq('#scrollbarbottom').click(function(){
		content.scrollTop += contentScrollHeight;
	});
	jq('#scrollbartop').click(function(){
		content.scrollTop -= contentScrollHeight;
	});
})();
</script>
{template common/footer_ajax}