{template common/header_ajax}
<script type="text/javascript" reload=1>
(function(){
	jq('#bountymenu li').each(function(){
		jq(this).click(function(){
			jq(this).css('background','#4daca2');
			jq(this).siblings().css('background','#aaa');
		});		
	});
})();
</script>
<style>
#fwin_gfarm .m_c{background:url(source/plugin/gfarm/img/ui/bg-big.png) no-repeat;}
#ulmenu li{background:#4daca2;font-size: 14px;background-position: center;width: 100px}
</style>
<iframe id="myframe" name="myframe" style="display:none"></iframe>
<div class='shopclass' onmousedown="dragMenu($('fwin_gfarm'),event,1)">
<img src='source/plugin/gfarm/img/ui/dailyt.png' class='shoptitle'/>
<div class='shopclose' onclick="hideWindow('gfarm1');hideWindow('gfarm');"></div>
<div id='outs' style="margin-top: 80px">
<div id='ins'>
	<ul id='boul'>
	<!--{loop $dailytasks $key=>$val}-->
	<li>
		<div>
			<span class='boulname'>{$val['task_name']}</span>
			<div style="padding: 7px;padding-top: 3px">
			<div class="boulcontent">
			<div style="height: 40px">
			<span>{lang gfarm:c158}{lang gfarm:c062}</span>{$val['task_describe']}
			</div>
			<span>{lang gfarm:f007}{lang gfarm:c062}</span>{$rewardstrs[$key]}<br/>
			<span>{lang gfarm:f006}{lang gfarm:c062}</span>{if $csnums[$key]}{$csnums[$key]}{else}0{/if}/{$val['target_num']}<br/>
			{if $csnums[$key]>=$val['target_num']}
			<img src="source/plugin/gfarm/img/ui/getw.png" onclick="ajaxget('plugin.php?id=gfarm:front&mod=dailytask&tid={$val[myid]}&act=rewardaily&formhash={FORMHASH}','outs');"/>
			{else}
			<img src="source/plugin/gfarm/img/ui/getno.png"/>
			{/if}
			</div>			
			</div>
		</div>
	</li>
	<!--{/loop}-->
	</ul>
	</div>
	<div id=shopscrollbartop></div>
	<div id='shopscrollBars'>
	<div id='shophandles'></div>
	</div>
	<div id='shopscrollbarbottom'></div>	
</div>
</div>
<script type="text/javascript">
	function clo_window()
	{
		parent.window.hideWindow('gfarm');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
<script reload=1>
var ximen = {
	$:function(o){ return document.getElementById(o); },
	getStyle:function(o) { return o.currentStyle||document.defaultView.getComputedStyle(o,null); },
	getOffset:function(o) {
		var t = o.offsetTop,h = o.offsetHeight;
		while(o = o.offsetParent) { t += o.offsetTop; }
		return { top:t, height:h };
	},
	bind:function(o,eType,fn) {
		if(o.addEventListener) { o.addEventListener(eType,fn,false); }
		else if(o.attachEvent) { o.attachEvent("on" + eType,fn); }
		else { o["on" + eType] = fn; }
	},
	unbind:function(o,eType,fn) {
		if(o.removeEventListener) { o.removeEventListener(eType,fn,false); }
		else if(o.detachEvent) { o.detachEvent("on" + eType,fn); }
		else { o["on" + eType] = fn; }
	},
	stopPropagate:function(e) {
		if(e && e.stopPropagation) { e.stopPropagation(); } 
		else { window.event.cancelBubble = true; }
		return false;
	},
	stopDefault:function(e) {
		e = e || window.event;
		e.stopPropagation && (e.preventDefault(),e.stopPropagation()) || (e.cancelBubble = true,e.returnValue = false);
	}
};
(function(){
	var myScrollDown,myScrollUp,scrollBarMouseDown,scrollBarMouseUp,relY,
		out = ximen.$("outs"),
		content = ximen.$("ins"),
		scrollBar = ximen.$("shopscrollBars"),
		scrollBarHandle = ximen.$("shophandles"),
		contentScrollHeight = content.scrollHeight,//将content.scrollHeight赋一次值,解决IE6下scrollHeight需调用两次的bug
		scrollBarHandleHeight = parseInt(content.offsetHeight/content.scrollHeight * scrollBar.offsetHeight),
		setScrollBarHandle = function() {//当内容超多时设置拖拽条子的最小高度
		if(scrollBarHandleHeight==scrollBar.offsetHeight){scrollBar.style.display='none';jq('#shopscrollbartop').hide();jq('#shopscrollbarbottom').hide();}
		else { scrollBarHandleHeight = 20; scrollBarHandle.style.height = "20px"; jq('#shopscrollbartop').show();jq('#shopscrollbarbottom').show();}
		},
		clearAllInterval = function() { clearInterval(myScrollDown); clearInterval(myScrollUp); clearInterval(scrollBarMouseDown); },
		forMousemove = function(e) {
			var e = e || window.event;
			content.scrollTop = (e.clientY - relY)/(scrollBar.offsetHeight - scrollBarHandleHeight)*(content.scrollHeight - content.offsetHeight);
		},
		forMouseDown = function(event){
			var et = event.target || event.srcElement;//target火狐srcElementIE		
			relY = event.clientY - et.offsetTop;
			ximen.bind(document,"mousemove",forMousemove);
		},
		scrollDir = function(e) {
			var e = e || window.event,eDir;					//设置滚轮事件,e.wheelDelta与e.detail分别兼容IE、W3C，根据返回值的正负来判断滚动方向
			if(e.wheelDelta) { eDir = e.wheelDelta/120; }
			else if(e.detail) { eDir = -e.detail/3; }
			if(eDir > 0) { content.scrollTop -= 80; }	//步长设80像素a比较接近window滚动条的滚动速度
			else { content.scrollTop += 80; }
			ximen.stopDefault(e);
		};
	setScrollBarHandle();
	ximen.bind(content,"scroll",function(){
		scrollBarHandle.style.top = content.scrollTop/(content.scrollHeight - content.offsetHeight) * (scrollBar.offsetHeight - scrollBarHandleHeight)+ "px";
	});
	ximen.bind(scrollBarHandle,"mousedown",forMouseDown);
	ximen.bind(document,"mouseup",function(){
		ximen.unbind(document,"mousemove",forMousemove);
		ximen.unbind(scrollBarHandle,"mousemove",forMousemove);
	});
	ximen.bind(out,"selectstart",function(){ return false; });
	ximen.bind(out,"select",function(){ document.selection.empty(); });
	ximen.bind(out,"mousewheel",scrollDir);
	ximen.bind(out,"DOMMouseScroll",scrollDir);
	jq('#shopscrollbarbottom').click(function(){
		content.scrollTop += contentScrollHeight;
	});
	jq('#shopscrollbartop').click(function(){
		content.scrollTop -= contentScrollHeight;
	});
})();
</script>
{template common/footer_ajax}