{template common/header_ajax}
<script type="text/javascript">
var dnum={$depot['number']};
var dprice={$sale['good_price']};
function calcn(event){	
	var dsize=dnum.toString().length;
	jq('#dnum').attr('maxlength',dsize+1);	
	var keycode;
    if(window.event) // IE 浏览器
    {
        keycode = event.keyCode;
    }
    else if(event.which) // Netscape/Firefox/Opera浏览器
    {
        keycode = event.which;
    }
	if(!((keycode <= 57 && keycode >= 48)||(keycode <= 105 && keycode >= 96)||keycode==8||keycode==46)) {
		return false;
	}
}
function check(){		
	if(parseInt(jq('#dnum').val())>parseInt(dnum)){
		jq('#dnum').val(dnum);
		jq('#dprice').html(dprice*dnum);
		return false;
	}
	if(parseInt(jq('#dnum').val())<1){
		jq('#dnum').val(1);
		jq('#dprice').html(dprice);
		return false;
	}
	jq('#dprice').html(dprice*jq('#dnum').val());
}
</script>
<style>
#fwin_gfarm1 .m_c{background:url(source/plugin/gfarm/img/ui/salebg.png) no-repeat;}
</style>
<div style="padding:5px 10px;text-align: left;width: 360px;height: 275px;position: relative;">
<div class="shoptitlediv listti">购买{$separate['separate_name']}</div>
<div class='shopclose' style="right: -14px;top:-19px" onclick="hideWindow('gfarm1');"></div>
<form id='shopbuyform' action="plugin.php?id=gfarm:front&mod=market&act=buy&formhash={FORMHASH}" method="post" target="myframe">
	<input type="hidden" name="depotid" value="{$depotid}"/>
	<input type="hidden" name="do" value="{$do}"/>
	<div style="text-align: center;height: 170px;margin-top: 20px">
	
	<div style="float: left;width: 120px;color: #aaa;font-size: 12px">
		<img src="{$good['img']}" width="120px"/>
		{if !in_array($do,array(1,4))}
		<input type="text" name='dnum' id='dnum' size="5" value="1" onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'');return check()" onkeydown="return calcn(event)" onpaste="this.value=this.value.replace(/\D/g,'')" style="text-align: center;ime-mode:disabled;margin-top: 10px;height: 12px;"/><br/>
		剩余数量({$depot['number']})
		{/if}
	</div>
	
	<div style="float: right;width: 200px;">
		<font style="font-size: 24px;color: green;">{$good['name']}</font>
		<div style="text-align: left;width:200px;padding-left: 40px;line-height: 22px">
			<div>
				<span>使用等级：</span>
				<span><font color="olive" style="margin-left: 5px">{$good['use_level']}</font></span>
			</div>
			<div>
				<span>使用爱心值：</span>
				<span><font color="olive" style="margin-left: 5px">{$good['use_benevolence']}</font></span>
			</div>
			{if $do=='9'}
			<div>
				<span>成熟时间：</span>
				<span><font color="olive" style="margin-left: 5px">{$germ['mature_time']}分钟</font></span>
			</div>
			<div>
				<span>收获经验：</span>
				<span><font color="olive" style="margin-left: 5px">{$germ['experience']}</font></span>
			</div>
			{/if}
			<div>			
				<span>单价：</span>
				<span><font color="red">金钱</font><font color="olive" style="margin-left: 5px">{$sale['good_price']}</font></span>
			</div>
			<div>
				<span>总计：</span>
				<span><font color="red">金钱</font><font id='dprice' color="olive" style="margin-left: 5px">{$sale['good_price']}</font></span>
			</div>
		</div>
	</div>
	</div>
	<div style="clear: both;height: 40px">{$good['description']}</div>
	<div class='shopbuy listti'>
	<a onclick="jq('#shopbuyform').submit()">确定购买</a>
	<a style="margin-left: 20px" onclick="clo_window()">取消</a>
	</div>
</form>
</div>
	{$goods['name']}
<script type="text/javascript">
	function clo_window()
	{
		parent.window.hideWindow('gfarm1');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
{template common/footer_ajax}