{template common/header_ajax}
<style>
#fwin_gfarm .m_c{background:url(source/plugin/gfarm/img/ui/picbg.png) no-repeat;}
</style>
<iframe id="myframe" name="myframe" style="display:none"></iframe>
<div class='depotclass' style="width: 520px;height: 410px" onmousedown="dragMenu($('fwin_gfarm'),event,1)">
<div class='depotclose' style="right: 0px" onclick="hideWindow('gfarm');hideWindow('gfarm1');"></div>
<div style="height: 325px;margin-top: 59px;width: 490px;margin-left: 20px";>
<div style="width: 265px;height: 100%;float: left;">
<ul class='line' id='ulp'>
	<!--{loop $cropInfos $key $val}-->
	<li onclick="showcrop({$val['id']})">
		<div class='ulpbg' {if empty($mycrop[$val['relation_id']])}style='background-image:url(source/plugin/gfarm/img/ui/un-littlewin2.png)'{/if} onclick="choose(this)">
			<img src="{$val['sprout_img']}" title="{$val['name']}" style="width: 45px;margin-top: 13px;height: 45px"/>
			<div class="bottomlevel1">
			{$val['use_level']}{lang gfarm:f016}
			</div>	
			<img src='source/plugin/gfarm/img/ui/bg-choose.png' class="lockbg">				
		</div>
	</li>
	<!--{/loop}-->
	</ul>
</div>
<div style="width: 195px;height: 100%;background: url(source/plugin/gfarm/img/ui/bg02.png) no-repeat;float: left;margin-left: 10px;padding-left: 13px">
<div class='picimg'>
</div>
<div id='picinfo'>
</div>
</div>
</div>
<div class='picbottom'>
<img class='turnl' src='source/plugin/gfarm/img/ui/turnl.png' {if $currpage-1>0}onclick="ajaxget('plugin.php?id=gfarm:front&mod=picture&act=ajax&page={eval echo $currpage-1}','ulp')"{/if}/>
<img class='turnr' src='source/plugin/gfarm/img/ui/turnr.png' {if $currpage+1<=$ispage}onclick="ajaxget('plugin.php?id=gfarm:front&mod=picture&act=ajax&page={eval echo $currpage+1}','ulp')"{/if}/>
<!--<input type="text" class='dum' id='dnum' size="5" value="{$currpage}" onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'');return check()" onkeydown="return calcn(event)" onpaste="this.value=this.value.replace(/\D/g,'')"/>-->
{$currpage}/{$ispage}
</div>
</div>
<script type="text/javascript">
var dnum={$ispage};
function calcn(event){	
	var dsize=dnum.toString().length;
	jq('#dnum').attr('maxlength',dsize+1);
	var keycode;
    if(window.event) // IE 浏览器
    {
        keycode = event.keyCode;
    }
    else if(event.which) // Netscape/Firefox/Opera浏览器
    {
        keycode = event.which;
    }
	if(!((keycode <= 57 && keycode >= 48)||(keycode <= 105 && keycode >= 96)||keycode==8||keycode==46)) {
		return false;
	}
}
function check(){	
	if(parseInt(jq('#dnum').val())>parseInt(dnum)){
		jq('#dnum').val(dnum);
		return false;
	}
	if(parseInt(jq('#dnum').val())<1){
		jq('#dnum').val(1);
		return false;
	}
}
function showcrop(obj){
	ajaxget('plugin.php?id=gfarm:front&mod=picture&act=showajax&gid='+obj,'picinfo');
}
	function choose(obj){
		jq(obj).find('.lockbg').show().parents('.ulpbg').parent().siblings().find('.lockbg').hide();
	}
	function clo_window()
	{
		parent.window.hideWindow('gfarm');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
{template common/footer_ajax}