{template gfarm:cp/nav}
<script type="text/javascript">
	function showmsg(msg) {
		window.showDialog(msg, 'right', '', function() {
			window.location.href = 'plugin.php?id=gfarm:cp&mod=land&page=$currpage&orderfield=$orderfield1&ordertype=$ordertype1'
		}, 0);
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
<iframe id="myframe" name="myframe" style="display:none"></iframe>
<div class="g47jh_cp_content">
	<div class="g47jh_content_div">
		<div class="g47jh_content_title">	
			<span class="g47jh_content_span"><form action="plugin.php?id=gfarm:cp&mod=land" method="post">
<span>UID{lang gfarm:c062}<input type="text" name="uid" value="$uid"/></span>
<button class="g47jh_content_submit">{lang gfarm:c064}</button>
</form></span>
		</div>	
		<table class="dt valt" cellspacing="0" cellpadding="0" style="text-align: center;margin-top: 1px" >
	<tr>
		<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=id&ordertype=$ordertype">{lang gfarm:c007}</A></th>
    	<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=uid&ordertype=$ordertype">UID</A></th>
    	<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=land_id&ordertype=$ordertype">{lang gfarm:c191}</A></th>
	 	<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=germname&ordertype=$ordertype">{lang gfarm:c192}</A></th>	 	
    	<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=cropname&ordertype=$ordertype">{lang gfarm:c193}</A></th>
    	<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=add_gain_number&ordertype=$ordertype">{lang gfarm:c194}</A></th>
    	<th class="xw1" style="text-align: center;"><A href="plugin.php?id=gfarm:cp&mod=land&orderfield=gain_time&ordertype=$ordertype">{lang gfarm:c195}</A></th>    	
    	<th class="xw1" style="text-align: center;">{lang gfarm:c013}</th>
	</tr>
	<!--{loop $landInfos $key $val}-->
	<tr <!--{if $key%2==1}-->class="alt"<!--{/if}-->>
    	<td>{$val['id']}</td>
	    <td>{$val['uid']}</td> 
	    <td>{$val['land_id']}</td> 
    	<td>{if $val['germname']}{$val['germname']}{else}----{/if}</td>
    	<td>{if $val['germname']}{$val['cropname']}{else}----{/if}</td> 
    	<td>{$val['add_gain_number']}</td> 
    	<td>{eval echo dgmdate($val['gain_time'],'Y-m-d H:i:s')}</td>
    	<td><a href='plugin.php?id=gfarm:cp&mod=land&act=update&lid={$val[id]}&page=$currpage&orderfield=$orderfield1&ordertype=$ordertype1' onclick="showWindow('gfarm',this.href)">{lang gfarm:c014}</a>
    	</td>
	</tr>
	<!--{/loop}-->
</table>
	</div>
	<!--分页-->
	<div class="adjust_page_div" style="margin-top: -20px;">
		<div class="adjust_page_span">{lang gfarm:c015}<i style="color: #4689cf">{$num}</i>{lang gfarm:c016}</div>
		<div class="adjust_page_right">
			<div class="view_page_div" style="width: {$page_width_arr['div_width']}px">
				<ul>
					<li class="view_page_next"><a href="plugin.php?id=gfarm:cp&mod={$mod}&page=1{$text}">{lang gfarm:c232}</a></li>
					<li class="view_page_next"><a href="javascript:" onclick="{if $currpage==1}showerror('{lang gfarm:cp028}');{else}document.location.href='plugin.php?id=gfarm:cp&mod={$mod}&page={eval echo $currpage-1}{$text}';{/if}">{lang gfarm:c266}</a></li>
					<!--{loop $page_number_arr $key $val_page}-->
						<li class="view_page_number"  style="width:{$page_width_arr['li_width'][$key]}px; {if $currpage==$val_page} background: #78b3ef;border-color: #78b3ef; {/if}" ><a href="plugin.php?id=gfarm:cp&mod={$mod}&page={$val_page}{$text}"  style="{if $currpage==$val_page} color: #ffffff ;{/if}" >{$val_page}</a></li>
					<!--{/loop}-->
					<li class="view_page_next"><a href="javascript:" onclick="{if $currpage==$maxpage}showerror('{lang gfarm:cp030}');{else}document.location.href='plugin.php?id=gfarm:cp&mod={$mod}&page={eval echo $currpage+1}{$text}';{/if}">{lang gfarm:c267}</a></li>
					<li class="view_page_next"><a href="plugin.php?id=gfarm:cp&mod={$mod}&page={$maxpage}{$text}" >{lang gfarm:f046}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{template gfarm:cp/footer}