{template common/header_ajax}
<h2 class="flb" style="cursor: move;border: 1px solid #666666;border-bottom: 0;"><em>{lang gfarm:c034}</em>
	<span ><a href="javascript:;" class="flbc" onclick="hideWindow('$_GET['handlekey']');" title="{lang close}">{lang close}</a></span>	
</h2>
<div style="border: 1px solid #666666;padding:5px 10px">
	<form name="psForm" action="plugin.php?id=gfarm:cp&mod=depot&act=update&formhash={FORMHASH}" method="post" target="myframe">
		<input type="hidden" name='did' value="{$did}"/>
		<table class="table001" style="margin-top: 10px" cellpadding="8px">
			<tr><td class="table002" align="right">{lang gfarm:c028}</td>
 				<td><input type="text" name="number" value="{$depot['number']}"/></td>
			</tr> 
			<tr><td class="table002" align="right">{lang gfarm:c174}</td>
 				<td>
 				<input type='radio' name="islock" value="0" id='lock1' <!--{if $depot['islock']==0}-->checked="checked"<!--{/if}-->/><label for="lock1">{lang gfarm:c084}</label>
 				<input type='radio' name="islock" value="1" id='lock2' <!--{if $depot['islock']==1}-->checked="checked"<!--{/if}-->/><label for="lock2">{lang gfarm:c083}</label>
				</td>
			</tr> 
			<tr><td class="table002"></td>
 				<td><input type="submit" class="g47jh_content_submit" style='width: 50px;margin-top: -4px' value="{lang gfarm:c026}"/></td>
			</tr> 
		</table>
	</form>
</div>
<script type="text/javascript">
	function clo_window()
	{
		parent.window.hideWindow('gfarm');
	}
	function showerror(msg) {
		window.showDialog(msg, 'error', '', function() {}, 0);
	}
</script>
{template common/footer_ajax}